*{
    padding: 0;
    margin: 0;
}
main{
    background-color: rgb(25, 41, 20);
}

h1, h2, h3, h4, p , a{
    color: white;
}

h2, h3{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 10vh;
}

.gallery p, .game p, .animation p, .movie p{
    font-size: 24px;
    line-height: 50px;
}

.game, .animation, .movie{
    padding: 100px;
}

.game div, .animation div, .movie div{
    padding: 100px;
} 

.game p, .animation p, .movie p{
    color: black;
}

.game section, .animation section, .movie section, .gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game section, .animation section, .movie section{
    background-color: rgb(189, 189, 189);
    border-radius: 30px;
    padding: 100px;
    margin: 100px;
}

header{
    background-color: rgb(93, 130, 43);
    height: 100px;
    width: 100%;
    position: fixed;
}

h1{
    position: absolute;
    background-image: url(image/LOGO.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    left: 30px;
    line-height: 100px;
    text-indent: -999px;
}

header ul{
    position: absolute;
    right: 3vw;
    top: 0.5vw;
    line-height: 100px;
}

header li{
    display: inline;
    margin: 2vw;
    font-size: 24px;
}

header a{
    text-decoration: none;
}

.img{
    
    height: 163.5vh;
    background-image: url(image/網頁橫版.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about p{
    padding: 15vh 15vw;
    font-size: 30px;
}

.gallery{
    padding: 10vh;
}

.gallery p{
    display: flex;
    justify-content: center;
}

.menu{
    display: none;
}

@media screen and (max-width: 768px) {
    h1{
        line-height: 80px;
        top: -10px;
        left: 0px;
    }
    header{
        height: 80px;
    }
    header ul{
        display: none;
    }
    .img{
        height: 70vh;
        background-image: url(image/工作區域\ 1.png);
    }
    .about{
        padding: 5vh;
    }
    .about p{
        padding: 10vh 8vw;
        font-size: 26px;
    }
    .menu{
        display: inline;
        background-color: transparent;
        color: white;
        font-size: 35px;
        border: none;
        height: 10vh;
        width: 180vw;
    }
}