
*{
    margin: 0;
}
header{
    background-color: rgb(93, 130, 43);
    height: 100px;
    width: 100%;
    position: fixed;
}
.menu{
    display: none;
}
h1{
    position: absolute;
    background-image: url(image/LOGO.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    text-indent: -999px;
}

ul{
    display: flex;
    list-style-type: none;
    line-height: 100px;
    justify-content: flex-end;
}
/*導覽列的連結*/
li a{
    padding: 0px 30px;
    font-size: 24px;
    text-decoration: none;
}
/*所有文字*/
h2, h3, p , header b{
    color: white;
}
/*所有標題*/
h2, h3{
    display: flex;
    justify-content: center;
    line-height: 100px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 34px;
}
p{
    font-size: 28px;
    display: flex;
    justify-content: center;
    line-height: 50px;
}

main{
    background-image: linear-gradient(rgb(13, 17, 12), rgb(94, 116, 27));
    padding: 100px 0px 0px 0px;
}
#title{
    width: 100%;
    height: 100vw;
    background-image: url(image/Title.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#about, #portfolio, #portfolio div, .game, .animation, .movie, #info{
    padding: 50px 0px;
}
#about p{
    padding: 0px 300px;
}
#portfolio img{
    padding: 0px 0px 30px 0px; 
}
#portfolio a{
    text-decoration: none;
}
#game, #animation, #movie{
    padding: 0px 200px;
}
#game section, #animation section, #movie section, #portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game img, #animation img, #movie img{
    padding: 30px;   
}
#game section, #animation section, #movie section{
    background-color: rgb(189, 189, 189);
    border-radius: 30px;
    padding: 50px;
    margin: 50px 0px;
}
#game p, #animation p, #movie p{
    color: black;
}
#info div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {

    #game::-webkit-scrollbar, #animation::-webkit-scrollbar, #movie::-webkit-scrollbar {
        display: none;
    }
    header{
        height: 80px;
    }
   
    .menu{
        display: inline;
        background-color: transparent;
        color: white;
        font-size: 35px;
        border: none;
        position: absolute;
        height: 80px;
        width: 180vw;
    }
    h1{
        height: 80px;
        width: 80px;
        top: -5px;
    }
    ul{
        /*display: none;*/
        position: relative;
        top: 80px;
        flex-direction: column;
        align-items: flex-end;
        line-height: 60px;
    }
    li{
        background-color: black;
    }
    li a{
        padding: 0px, 0px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 26px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
    }
    main{
        padding: 80px 0px 0px 0px;
    }
    #about p{
        padding: 0px 30px;
    }
    #portfolio img, #game img, #animation img, #movie img{
        width: 250px;
        padding: 0px 10px;   
    }
    #game, #animation, #movie{
        display: flex;
        justify-content: flex-start;
        padding: 0px 10px;
        overflow: scroll;
    }
    #game section, #animation section, #movie section{
        align-items: flex-start;
        padding: 40px 20px;
        margin: 0px 30px;
    }
    #game img, #animation img, #movie img{
        width: 250px;  
        padding: 0px 0px;
        margin: 0px 0px 30px 0px; 
    }
    #game p, #animation p, #movie p{
        font-size: 16px;
    }
}